@page "/sendEmail"
@inject ISendMessage SendMessageObject
<h3>SendEmail</h3>

@code {
	protected override void OnInitialized()
	{
		base.OnInitialized();

		//mySendMessageObject.SaveParamsObjectToFile();
	}
}
